@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
}

@layer components {
  .hero-cta-button:hover {
    background-color: #111827 !important;
    color: white !important;
  }
}